$estilos: (
    display: flex
);

@mixin sizes ($width, $height){
    width: $width;
    height: $height;
}

#redes {
    display: map-get($estilos, display );
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    & img {
        width: 50px;
        height: 50px;
        @include sizes(50px, 50px)
        transition: 1;
        &:hover {
            @include sizes (55px, 55px)
        }
    }
}

#contacto {
    text-decoration: underline;
    padding: 10px;
}

footer {
    display: map-get($estilos, display );
    flex-wrap: wrap;
    padding: 20px;
}