$estilos: (
    display: flex
);
@mixin sizes ($width, $height){
    width: $width;
    height: $height;
}
#titulo img{
    object-fit: contain;
    @include sizes(50px, 50px);
}

#header {
    color: rgb(10, 4, 60);
    background-color: 0, $gris, 0.3;
    display: map-get($estilos, display );
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
#nav {
    @extend #header;
    justify-content: center;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
        & li {
            font-size: 16px;
            outline: none;
            transition: 0.8;
            & a:hover {
                font-size: 19px;
                background: $rosado;
            }
            & a:active {
                color: $azulOscuro;
            }
            & a:visited {
                    color: blueviolet;
            }
        }
}