* body {
  margin: 8px;
  padding: 8px;
  margin-bottom: 40px;
  background-image: linear-gradient(#bbbbbb, #ffe3d8); }

@font-face {
  font-family: KANIT;
  src: url(../Kanit/Kanit-Medium.ttf); }

#grilla {
  color: #0a043c;
  background-color: 0, #bbbbbb, 0.3;
  font-family: KANIT; }

#titulo img {
  object-fit: contain;
  width: 50px;
  height: 50px; }

#header, #nav {
  color: #0a043c;
  background-color: 0, #bbbbbb, 0.3;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }

#nav {
  justify-content: center; }

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center; }
  ul li {
    font-size: 16px;
    outline: none;
    transition: 0.8; }
    ul li a:hover {
      font-size: 19px;
      background: #ffe3d8; }
    ul li a:active {
      color: #0a043c; }
    ul li a:visited {
      color: blueviolet; }

#galeria, #musica {
  color: #0a043c;
  background-color: 0, #bbbbbb, 0.3;
  display: flex;
  justify-content: center; }
  #galeria img, #musica img {
    object-fit: contain;
    height: 600px;
    width: 300px;
    transition: 0.8s; }
    #galeria img:hover, #musica img:hover {
      height: 700px;
      width: 370px; }

#musica {
  flex-wrap: wrap;
  align-content: center;
  padding: 20px; }

#bio {
  color: #0a043c;
  background-image: linear-gradient(45deg, #bbbbbb, #0a043c);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  line-height: 40px; }
  #bio div {
    text-align: justify; }

#redes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center; }
  #redes img {
    width: 50px;
    height: 50px;
    width: 50px;
    height: 50px;
    transition: 1; }
    #redes img:hover {
      width: 55px;
      height: 55px; }

#contacto {
  text-decoration: underline;
  padding: 10px; }

footer {
  display: flex;
  flex-wrap: wrap;
  padding: 20px; }
